{
  "root": true,
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
